div.auth-page {
    background: url('/images/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;

    form {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}